{
  "debug": true,
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "bump2version --allow-dirty --current-version ${lastRelease.version} --new-version ${nextRelease.version} patch common/version.go"
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} release notes [skip ci]\n\n${nextRelease.notes}",
        "assets": ["CHANGELOG.md", "common/version.go", "package.json"]
      }
    ],
    "@semantic-release/github"
  ]
}